@media screen and (max-width : 1024px){

  .second_row_inno{

    padding: 20px;
  }

  .inno_icons{

    left: inherit !important;
    transform: translateY(-50%) !important;
  }

  .second_row_inno_text_1{

    max-width: 100% !important;
  }

  .second_row_inno_text_2{

    max-width: 100% !important;
  }

  .second_row_inno_text_3{

    max-width: 100% !important;
  }

  .second_row_inno_text_4{

    max-width: 100% !important;
  }

  .second_row_inno_text_5{

    max-width: 100% !important;
  }

    .second_row_inno_title{

      padding: 0px !important;
    }

    .second_row_inno_protection{

      display: inherit !important;
    }

    .second_row_inno_finitions{

      padding-right: 0px !important;
    }

    .second_row_inno_wrapper_1{

      width: 100% !important;
    }

    .second_row_inno_wrapper_2{

      display: none !important;
    }

    .second_row_inno_logo_1 {

      width: 100% !important;

    }

    .second_row_inno_logo_2 {

      width: 100% !important;

    }

    .second_row_inno_logo_3 {

      width: 100% !important;

    }

    .second_row_inno_logo_4 {

      width: 100% !important;

    }

    .second_row_inno_logo_5 {

      width: 100% !important;

    }

    .second_row_inno_container_1{

      width: 100% !important;
    }

    .second_row_inno_container_2{

      width: 100% !important;
    }

    .second_row_inno_container_3{

      width: 100% !important;
    }

    .second_row_inno_container_4{

      width: 100% !important;
    }

    .second_row_inno_container_5{

      width: 100% !important;
    }


}

@media screen and (max-width : 768px){

  .first_row_inno{

    .first_row_inno_left{

      float: inherit !important;
      width: 100% !important;

    }

    .first_row_inno_right{

      float: inherit !important;
      width: 100% !important;
    }
  }
}

@media screen and (max-width : 480px){

  .first_row_inno{

    background-image: none !important;
    height: auto !important;

    .first_row_inno_wrapper{

      position: relative;

      .first_row_inno_left{

        float: none !important;
        width: 100% !important;

        .first_row_inno_left_container{

          height: auto !important;
        }
      }

      .first_row_inno_right{

        float: none !important;
        width: 100% !important;
      }
    }
  }

  ////////////////////////////////

  .second_row_inno{

    padding: 20px !important;

    .second_row_inno_title{

      padding: 0px !important;
    }

    .second_row_inno_protection{

      display: inherit !important;
    }

    .second_row_inno_finitions{

      padding-right: 0px !important;
    }

    .second_row_inno_wrapper_1{

      width: 100% !important;
    }

    .second_row_inno_wrapper_2{

      display: none !important;
    }

    .second_row_inno_logo_1 {

      width: 100% !important;

    }

    .second_row_inno_logo_2 {

      width: 100% !important;

    }

    .second_row_inno_logo_3 {

      width: 100% !important;

    }

    .second_row_inno_logo_4 {

      width: 100% !important;

    }

    .second_row_inno_logo_5 {

      width: 100% !important;

    }

    .second_row_inno_container_1{

      width: 100% !important;
    }

    .second_row_inno_container_2{

      width: 100% !important;
    }

    .second_row_inno_container_3{

      width: 100% !important;
    }

    .second_row_inno_container_4{

      width: 100% !important;
    }

    .second_row_inno_container_5{

      width: 100% !important;
    }



  }

    /////////////////////////////////

    .third_row_inno{

      .inno_gamme_color{

        width: 41% !important;

        #inno_gamme_image{

          width: auto !important;
        }
      }

      .inno_popup_image{

        display: none !important;
      }

      .inno_popup_content_right{

        width: auto !important;
      }

      .inno_content_right_1{

        height: inherit !important;
        width: 100% !important;
      }

      .inno_gamme_popup{

        border: none !important;
      }
    }


  /////////////////////////////////

  .fourth_row_inno_container{


    background-image: inherit !important;

    .fourth_row_inno_wrapper_right{

      width: 0% !important;
      float: none !important;

    }

    .fourth_row_inno_wrapper_left{

      width: 100% !important;
      float: none !important;
    }
  }

  ////////////////////////////////

  .fifth_row_inno_container{

    background-image: inherit !important;

    .fifth_row_inno_wrapper_left{

      width: 0% !important;
      float: none !important;


    }

    .fifth_row_inno_wrapper_right{

      width: 100% !important;
      float: none !important;

    }
  }

  ////////////////////////////////

  .sixth_row_inno{

    .sixth_row_inno_container{

      background-image: inherit !important;


      .sixth_row_inno_wrapper_left{

        width: 100% !important;
        float: none !important;

      }

      .sixth_row_inno_wrapper_right{

        width: 0% !important;
        float: none !important;

      }
    }
  }

  #classique{
    margin-top: -677px;
    &.open{
      margin-top: 0px;
    }
    &.close{

      margin-top: -677px;
    }
  }

  #pastels{
    margin-top: -677px;
    &.open{
      margin-top: 0px;
    }
    &.close{

      margin-top: -677px;
    }
  }

  #toniques{
    margin-top: -677px;
    &.open{
      margin-top: 0px;
    }
    &.close{

      margin-top: -677px;
    }
  }

  #nacree{
    margin-top: -677px;
    &.open{
      margin-top: 0px;
    }
    &.close{

      margin-top: -677px;
    }
  }

  #opaques{
    margin-top: -677px;
    &.open{
      margin-top: 0px;
    }
    &.close{

      margin-top: -677px;
    }
  }

  .seventh_row_inno_container{

    background-image: inherit !important;
  }

  .seventh_row_inno_wrapper_left{

    width: 100% !important;
  }
}
